# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
*full-state*.json
terraform/environments/**/import.sh

# Docker
*.tar

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
